################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/eShopSolution/.vs/eShopSolution
/eShopSolution/eShopSolution.WebApp/obj
/eShopSolution/eShopSolution.WebApp/bin/Debug/netcoreapp3.1
/eShopSolution/eShopSolution.Application/obj
/eShopSolution/eShopSolution.Data/obj
/eShopSolution/eShopSolution.Data/bin/Debug/netcoreapp3.1
/eShopSolution/eShopSolution.Application/bin/Debug/netcoreapp3.1
/eShopSolution/eShopSolution.Utilities/bin/Debug/netcoreapp3.1
/eShopSolution/eShopSolution.Utilities/obj
